/* ===== Page Size Styles ===== */
@media screen and (max-width: 800px) {
    body {
        background-color: red!important;
    }
    .page-not-supported {
        font-size: 12px!important;
        color: green!important;
    }
}
@media screen and (max-width: 300px) {
    body {
        background-color: orange!important;
        font-size: 20px;
    }
}
/* ===== Body Style (Page Style) ===== */

.page-not-supported {
    font-size: 0!important;
}

body {
    font-family: "Nano Sans", Arial, sans-serif;
    background-color: #222222;
    color: white;
}

/* ===== Link Style ===== */

a:link {
    color: gray;
}
a:active {
    color: darkgray;
}
a:hover {
    color: darkgray;
}
a:visited {
    color: gray;
}

/* ===== Content Pane ===== */

.content-pane {
    background-color: lightgray;
    color: white;
    border-radius: 20px;
    border-bottom: 20px;
    padding: 30px;
}
.splash-text {
    padding-top: 0;
    padding-bottom: 0;
    float: left;
    color: lightgreen;
}

.pane-right {
    padding-top: 0;
    padding-bottom: 0;
    float: right;
}

/* ===== New Element ===== */
